.section1 img, .section2 img, .section3 img {
  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  margin: 5%; }

.section1 h3, .section2 h3, .section3 h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 15px;
  color: #DEA057;
  font-weight: bold;
  font-size: x-large; }

.section1 p, .section2 p, .section3 p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 2vh;
  overflow: auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

h1 {
  font-family: "Raleway", sans-serif;
  color: #DEA057;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  text-decoration: none; }

.hamburguesa {
  display: none; }

body {
  background-color: #fae7a9; }

.header {
  background-color: #DEA057;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center; }

.logo {
  width: 10vh;
  height: 10vh;
  margin: 20px;
  padding: 0;
  border-radius: 100%; }

nav {
  grid-area: navegador;
  background-color: #DEA057; }

.navList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 13vh;
  text-decoration: none; }

.item {
  list-style-type: none;
  padding: 3%;
  transition-property: background-color, transform;
  transition-duration: 1s; }

.item:hover {
  background-color: #c47720; }
  .item:hover a {
    color: black;
    transform: scale(1.1); }

a {
  transition-property: color, transform;
  transition-duration: 1s;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 120%;
  text-align: center;
  color: white;
  font-weight: bold; }

.footer {
  background-color: #fae7a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  padding: 2%; }
  .footer h6 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 1vh; }

.red {
  width: 5vw;
  height: 5vw;
  margin: 1vh;
  padding: 0;
  border-radius: 0;
  max-height: 40px;
  max-width: 40px; }

.mainIndex {
  background-color: #fae7a9;
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.carrvusel {
  width: 100vw; }

.carruselImg {
  width: 100vw;
  height: 90vh;
  margin: 0;
  padding: 0;
  border-radius: 0;
  max-height: 90vh; }

.botonComprarAhora {
  background-color: #DEA057;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  top: 80%;
  transition-property: background-color, transform;
  transition-duration: 1s; }
  .botonComprarAhora h2 {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: medium;
    text-align: center;
    width: 27vw;
    text-decoration: none; }

.botonComprarAhora:hover {
  background-color: #c47720;
  transform: scale(1.1); }

.section1 {
  background-color: #fae7a9;
  grid-area: section1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section2 {
  background-color: #fae7a9;
  grid-area: section2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section3 {
  background-color: #fae7a9;
  grid-area: section3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section4 {
  background-color: #fae7a9;
  grid-area: section4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section4 h3 {
    font-family: "Raleway", sans-serif;
    font-size: x-large;
    text-align: center;
    color: #DEA057;
    font-weight: bold;
    margin-top: 2vh; }

.map {
  width: 80%;
  height: 80%;
  margin: 5vh;
  padding: 0;
  border-radius: 5vh; }

.contenedorIndex {
  display: grid;
  height: 100vh;
  grid-template-areas: "header navegador navegador" "main main main" "section1 section2 section3"  "section4 section4 section4" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 13vh 90vh 90vh 60vh 9vh; }

.mainNosotros {
  background-color: #fae7a9;
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.carrusel {
  margin: 20vw; }

.carruselImg2 {
  width: 70vh;
  height: 70vh;
  margin: 0;
  padding: 0;
  border-radius: 10%; }

.section1Nosotros {
  grid-area: section;
  background-color: #fae7a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section1Nosotros h2 {
    margin: 2vh;
    margin-right: 5vw;
    margin-left: 5vw;
    font-family: "Raleway", sans-serif;
    font-size: x-large;
    text-align: center;
    color: #DEA057;
    font-weight: bold; }
  .section1Nosotros p {
    margin: 2vh;
    margin-right: 6vw;
    margin-left: 5vw;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    text-align: center;
    color: #DEA057;
    font-weight: bold; }

.contenedorNosotros {
  display: grid;
  height: 100vh;
  grid-template-areas: "header navegador navegador" "main main section" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 13vh 77vh 8vh; }

.mainTienda {
  grid-area: main;
  background-color: #fae7a9; }
  .mainTienda h1 {
    margin: 2%; }

.buscar {
  height: 10px; }

.section1Tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: auto;
  grid-area: section1;
  background-color: #fae7a9;
  overflow: auto; }
  .section1Tienda div {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto; }
  .section1Tienda img {
    position: relative;
    top: 3vh;
    width: 25vw;
    height: 25vw;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    max-width: 25vh;
    max-height: 25vh;
    transition-duration: 1s;
    transition-property: size, transform; }
  .section1Tienda img:hover {
    transition: 1s;
    transform: scale(1.2); }
  .section1Tienda h3 {
    font-family: "Raleway", sans-serif;
    font-size: large;
    text-align: center;
    color: #DEA057;
    font-weight: bold; }

.section2Tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: auto;
  grid-area: section2;
  background-color: #fae7a9;
  overflow: scroll; }
  .section2Tienda div {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto; }
  .section2Tienda img {
    position: relative;
    top: 3vh;
    width: 25vw;
    height: 25vw;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    max-width: 25vh;
    max-height: 25vh;
    transition-duration: 1s;
    transition-property: size, transform; }
  .section2Tienda img:hover {
    transition: 1s;
    transform: scale(1.2); }
  .section2Tienda h3 {
    font-family: "Raleway", sans-serif;
    font-size: large;
    text-align: center;
    color: #DEA057;
    font-weight: bold; }

.section3Tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: auto;
  grid-area: section3;
  background-color: #fae7a9;
  overflow: auto; }
  .section3Tienda div {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto; }
  .section3Tienda img {
    position: relative;
    top: 3vh;
    width: 25vw;
    height: 25vw;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    max-width: 25vh;
    max-height: 25vh;
    transition-duration: 1s;
    transition-property: size, transform; }
  .section3Tienda img:hover {
    transition: 1s;
    transform: scale(1.2); }
  .section3Tienda h3 {
    font-family: "Raleway", sans-serif;
    font-size: large;
    text-align: center;
    color: #DEA057;
    font-weight: bold; }

.searchBar {
  position: absolute;
  width: 40%;
  margin-left: 30%; }

.searchButton {
  position: absolute;
  left: 70%;
  margin-left: 10px; }

.contenedorTienda {
  display: grid;
  height: 100vh;
  grid-template-areas: "header navegador navegador" "main main main" "section1 section1 section1" "section2 section2 section2" "section3 section3 section3" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 13vh 15vh 40vh 40vh 50vh 8vh; }

.mainContacto {
  grid-area: main;
  background-color: #fae7a9; }

legend {
  margin: 1%;
  background-color: #DEA057;
  font-family: "Raleway", sans-serif;
  font-size: x-large;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 100%; }

.contenedorContacto {
  display: grid;
  height: 100vh;
  grid-template-areas: "header navegador navegador" "main main main"  "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 13vh 90vh 8vh; }

.mainRecetas {
  background-color: #fae7a9;
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .mainRecetas h2 {
    font-family: "Raleway", sans-serif;
    font-size: 100%;
    text-align: center;
    color: #DEA057;
    font-weight: bold; }
  .mainRecetas hp {
    font-family: "Raleway", sans-serif;
    font-size: 70%;
    text-align: center;
    color: #DEA057;
    font-weight: bold; }

.receta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 120%;
  max-height: 60vh;
  padding: 1%;
  border-radius: 5%;
  background-color: #f5dabc;
  overflow: auto; }

.imgRecetas {
  width: 60%;
  border-radius: 5%;
  margin: 1%; }

.contenedorRecetas {
  display: grid;
  height: 100vh;
  grid-template-areas: "header navegador navegador" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 13vh 79vh 8vh; }

@media screen and (max-width: 480px) {
  footer h6 {
    font-family: "Raleway", sans-serif;
    font-size: small;
    text-align: center;
    color: black;
    font-weight: auto; }
  .contenedorIndex {
    display: grid;
    height: 100vh;
    grid-template-areas: "header navegador" "main main" "section1 section1" "section2 section2" "section3 section3" "section4 section4" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 13vh 30vh 60vh 60vh 60vh 50vh 9vh; }
  .logo {
    width: 10vh;
    height: 10vh;
    margin: 10px;
    padding: 0;
    border-radius: 100%; }
  .navList {
    display: none; }
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .hamburguesa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    margin: 0;
    padding: 0;
    border-radius: 0;
    padding-right: 30%; }
    .hamburguesa a {
      font-family: "Raleway", sans-serif;
      font-size: large;
      text-align: center;
      color: #DEA057;
      font-weight: bold;
      transform: scale(1.1); }
  .hamburgesaBoton {
    border: none;
    background-color: #fae7a9;
    color: #DEA057;
    transform: scale(1.4); }
  .carruselImg {
    width: 100vw;
    height: 30vh;
    margin: 0;
    padding: 0;
    border-radius: 0; }
  .botonComprarAhora {
    display: none; }
  .contenedorNosotros {
    display: grid;
    height: 100vh;
    grid-template-areas: "header navegador" "main main" "section section" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 15vh 70vh 70vh 8vh; }
    .contenedorNosotros p {
      font-family: "Raleway", sans-serif;
      font-size: small;
      text-align: center;
      color: #DEA057;
      font-weight: bold; }
  .carrusel {
    margin: 9%; }
  .carruselImg2 {
    width: 75vw;
    height: 75vw;
    margin: 0;
    padding: 0;
    border-radius: 10%; }
  .contenedorTienda {
    display: grid;
    height: 100vh;
    grid-template-areas: "header navegador" "main main" "section1 section1" "section2 section2" "section3 section3" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 13vh 15vh 30vh 30vh 30vh 8vh; }
  .section1Tienda {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: auto;
    background-color: #fae7a9;
    overflow: scroll;
    border: 2px solid #DEA057; }
    .section1Tienda div {
      display: flex;
      flex-direction: column;
      justify-content: auto;
      align-items: auto;
      margin-right: 5vh;
      margin-left: 5vh; }
    .section1Tienda img {
      width: 15vh;
      height: 15vh;
      margin: 0;
      padding: 0;
      border-radius: 100%; }
    .section1Tienda h3 {
      font-family: "Raleway", sans-serif;
      font-size: small;
      text-align: center;
      color: #DEA057;
      font-weight: bold;
      margin-top: 10px; }
  .section2Tienda {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: auto;
    background-color: #fae7a9;
    overflow: scroll;
    border: 2px solid #DEA057; }
    .section2Tienda div {
      display: flex;
      flex-direction: column;
      justify-content: auto;
      align-items: auto;
      margin-right: 5vh;
      margin-left: 5vh; }
    .section2Tienda img {
      width: 15vh;
      height: 15vh;
      margin: 0;
      padding: 0;
      border-radius: 100%; }
    .section2Tienda h3 {
      font-family: "Raleway", sans-serif;
      font-size: small;
      text-align: center;
      color: #DEA057;
      font-weight: bold;
      margin-top: 10px; }
  .section3Tienda {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: auto;
    background-color: #fae7a9;
    overflow: scroll;
    border: 2px solid #DEA057; }
    .section3Tienda div {
      display: flex;
      flex-direction: column;
      justify-content: auto;
      align-items: auto;
      margin-right: 5vh;
      margin-left: 5vh; }
    .section3Tienda img {
      width: 15vh;
      height: 15vh;
      margin: 0;
      padding: 0;
      border-radius: 100%; }
    .section3Tienda h3 {
      font-family: "Raleway", sans-serif;
      font-size: small;
      text-align: center;
      color: #DEA057;
      font-weight: bold;
      margin-top: 10px; }
  .contenedorRecetas {
    display: grid;
    height: 100vh;
    grid-template-areas: "header navegador" "main main" "footer footer ";
    grid-template-columns: 50% 50%;
    grid-template-rows: 13vh 77vh  8vh; }
    .contenedorRecetas .mainRecetas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .contenedorRecetas .receta {
      width: 80vw;
      height: 50vh; } }
