%imgIndex{

    width: 22vh;
  height: 22vh;
  border-radius: 100%;
  margin: 1vh;
}

%titIndex{

    font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 15px;
  color: #DEA057;
  font-weight: bold;
  font-size:x-large;
}


%txtIndex{

    font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 2vh;
}
