%imgIndex{

  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  margin:5%;
  
}

%titIndex{

    font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 15px;
  color: #DEA057;
  font-weight: bold;
  font-size:x-large;
  
}


%txtIndex{

    font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 2vh;
  overflow: auto;
}
